<nav class="footer">
    <div class="row">
        <center>
            <a href="/">
                <img src="/images/whitepostaparachute.png" width="30" height="30" alt="Posta">
            </a>
        </center>
        <br>

        <div class="col-xs-12 col-sm-12">
            <center>
                <p>
                    <a style="color: rgba(255, 255, 255, 0.584);" href="/postapartners">Partners Home </a>
                    <span>•</span>
                    <a style="color: rgba(255, 255, 255, 0.584);" href="http://posta-technologies.breezy.hr/p/ca5738b267fd-posta-partner-courier"
                        target="_blank">Become A Partner </a>
                    <span>•</span>

                    <a style="color: rgba(255, 255, 255, 0.584);" href="partner-support">Partner Support </a>
                </p>
            </center>
        </div>



    </div>
    <br>
    <div id="emptyLineDivBottomBar">

    </div>
    <br>
    <center>
        <p>
            <span class="glyphicon glyphicon-copyright-mark"></span> 2018 Posta Technologies, Inc.</p>
        <a href="/partner-terms"> Posta Partner Terms </a>
        <span>•</span>
        <a href="/privacy-policy1"> Privacy </a>
    </center>


</nav>