<nav class="footer">
    <div class="row">
        <center>
            <a href="/">
                <img src="/images/whitepostaparachute.png" width="30" height="30" alt="Posta">
            </a>
        </center>
        <br>
        <div class="col-xs-6 col-sm-2">

            <h5>Posta</h5>
            <a style="color: rgba(255, 255, 255, 0.584);" href="/about-posta">About</a>
            <br>
            <a style="color: rgba(255, 255, 255, 0.584);" href="/contact-posta">Contact</a>
            <br>
            <a style="color: rgba(255, 255, 255, 0.584);" href="/support">Support</a>

        </div>

        <div class="col-xs-6 col-sm-3">

            <h5>Posta Platform</h5>
            <a style="color: rgba(255, 255, 255, 0.584);" href="/mobileapp">Mobile App </a>
            <br>
            <a style="color: rgba(255, 255, 255, 0.584);" href="/posta-business-solutions">Business Solutions</a>
            <br>
            <!-- <a style="color: rgba(255, 255, 255, 0.584);" href="/tutorials">Tutorials </a>
            <br> -->
            <a style="color: rgba(255, 255, 255, 0.584);" href="/customer-support">Customer Support</a>

        </div>

        <div class="col-xs-6 col-sm-2">

            <h5>Markets</h5>
            <a style="color: rgba(255, 255, 255, 0.584);" href="market-chicago">Chicago </a>

        </div>

        <div class="col-xs-6 col-sm-2">
            <h5>Posta Partners</h5>
            <a style="color: rgba(255, 255, 255, 0.584);" href="/postapartners">Partners Home </a>
            <br>
            <a style="color: rgba(255, 255, 255, 0.584);" href="http://posta-technologies.breezy.hr/p/ca5738b267fd-posta-partner-courier"
                target="_blank">Become A Partner </a>
            <br>
            <a style="color: rgba(255, 255, 255, 0.584);" href="partner-support">Partner Support </a>
        </div>

        <div class="col-xs-6 col-sm-2">

            <h5>Media</h5>
            <!-- <a style="color: rgba(255, 255, 255, 0.584);">Newsroom</a> -->
            <a style="color: rgba(255, 255, 255, 0.584); margin-right: 2%;" href="https://www.linkedin.com/company/posta-technologies/"
                target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>

            <a style="color: rgba(255, 255, 255, 0.584); margin-right: 2%;" href="https://www.instagram.com/postatechnologies/" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a style="color: rgba(255, 255, 255, 0.584); margin-right: 2%;" href="https://www.facebook.com/postatechnologies/" target="_blank">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
        </div>

    </div>
    <br>
    <div id="emptyLineDivBottomBar">

    </div>
    <br>
    <center>
        <p>
            <span class="glyphicon glyphicon-copyright-mark"></span> 2018 Posta Technologies, Inc.</p>
        <a href="/user-terms1"> Terms </a>
        <span>•</span>
        <a href="/privacy-policy1"> Privacy </a>
    </center>


</nav>