<div id="preloader" style="background-color: white">
    <div id="loader-img" style="background-color: white">
        <div id="loader" style="background-color: white"></div>
    </div>
    <div id="panel_left" class='loader-section section-left' style="background-color: white"></div>
    <div id="panel_right" class='loader-section section-right' style="background-color: white"></div>
</div>