<nav class="navbar navbar-default">
    <center>
        <div class="">
            <div class="">
                <a class="navbar-brand" href="/">
                    <div>
                        <span class="navbarBrandHome" style="color:#737aea;">P</span>
                        <span style="color:#5f8de7;">O</span>
                        <span style="color:#52b1f0;">S</span>
                        <span style="color:#61cde9;">T</span>
                        <span style="color:#26d4de;">A</span>
                    </div>
                </a>
            </div>
        </div>
    </center>
</nav>